.navbar-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
}

.navbar-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.navbar-title {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.navbar-text {
    color: white;
    text-align: center;
    font-size: medium;
}

.navbar-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 75%;
    height: 100%;
}

.navbar-button {
    background-color: white;
    border: none;
    color: darkblue;
    height: 50%;
    width: 10%;
    text-align: center;
    border-radius: 5%;
    margin-inline: 2rem;
    font-size: medium;
}